@import '../GGS/'


/*!
    BEGIN TEST STYLES
*/
@media screen and (min-width: 75em)
    $grid-size=8

    body.ggs-grid
        margin      0 $outer-margin

    header
    #twoway
        width   100%
        margin  0

    header
        h2
            width   ggs-columns(6)
            margin  0 auto

